body{
    background-color: rgba(138, 103, 160, 0.274);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-style: italic;
    text-decoration: underline;
}

.maintenance-form{
    width: 300px;
    padding: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.maintenance-form{
    font-weight: bold;
}

.maintenance-form button:hover{
    background-color: rgb(231, 155, 170);
}

/*element selector*/
p
{
    color:blueviolet;
}


